[JWT]
JWT_ALGORITHM = HS256
JWT_SECRET = secret
JWT_EXP_DELTA_SECONDS = 30

[QUEUE]
QUEUE_MAXSIZE = 100
QUEUE_OFFLINE = True

[PICKLE]
PICKLE_TMP = /tmp/queue/

[MQTT]
MQTT_BROKER = 172.17.0.1
MQTT_PORT = 1883
MQTT_CLIENT = Test1
MQTT_KEEPALIVE = 60
MQTT_BIND_ADDRESS = ''
MQTT_QOS = 0
MQTT_TOPIC = test/topic

[CORE]
WAIT_TIME_SECONDS = 1
NETWORK_PORT = 53
NETWORK_TIMEOUT = 3
NETWORK_HOST = 8.8.8.8
TIME_CONNECTION = 1

[LOGGING]
LOG_DIRECTORY = /var/log/

[CERTIFICATE]
CERT_DIRECTORY = ''
CERT_PEM = ''
CERT_KEY = ''
