[JWT]
JWT_ALGORITHM = ''
JWT_SECRET = ''
JWT_EXP_DELTA_SECONDS = ''

[QUEUE]
QUEUE_MAXSIZE = ''
QUEUE_OFFLINE = ''

[PICKLE]
PICKLE_TMP = ''

[MQTT]
MQTT_BROKER = ''
MQTT_PORT = ''
MQTT_CLIENT = ''
MQTT_KEEPALIVE = ''
MQTT_BIND_ADDRESS = ''
MQTT_QOS = ''
MQTT_TOPIC = ''

[CORE]
WAIT_TIME_SECONDS = ''
NETWORK_PORT = ''
NETWORK_TIMEOUT = ''
NETWORK_HOST = ''
TIME_CONNECTION = ''

[LOGGING]
LOG_DIRECTORY = ''

[CERTIFICATE]
CERT_DIRECTORY = ''
CERT_PEM = ''
CERT_KEY = ''